<!DOCTYPE html>
<html>
  <head>
    <title>tracker!</title>

    <link rel="stylesheet" type="text/css" href="/css/app.css" />
  </head>
  <body>
    <h1>Nunjucks Growth</h1>
    <div class="graph"></div>

    <script type="text/javascript" src="/js/lib/ender.min.js"></script>
    <script type="text/javascript" src="/js/lib/d3.v3.min.js"></script>
    <script type="text/javascript" src="/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
